<div class="item" data-item-id="{{id}}">
  <h4 class="no-margin">
    <span class="itemContextMenu">{{name}}</span>
    {{#if (eq type "fitting")}}
      <small class="damaged-{{system.damaged}} corners">
        {{localize 'wildsea.damaged'}}
      </small>
      <a class="damage-button" data-fitting-id="{{id}}"><small><i class="fa-solid fa-heart-crack"></i></small></a>
      <small class="text-mid">{{system.type}}</small>
    {{else}}
      <small class="text-mid">{{localize (concat "wildsea." system.type)}}</small>
    {{/if}}
    <small class="text-light">{{pluralize "stakes" system.stakes}}</small>
  </h4>
  <div class="drawer {{#if system.collapsed}}hidden{{/if}}">
    {{{system.enrichedDetails}}}
  </div>
</div>
