@font-face {
  font-family: 'Teko';
  src: url(fonts/Teko/Teko-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-BoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
body {
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}
input[type='checkbox']:checked,
input[type='radio']:checked {
  accent-color: #626256;
}
a:hover,
#context-menu li.context-item:hover {
  text-shadow: 0 0 8px #858778;
}
a.content-link,
a.inline-roll {
  background: none;
  padding: 0;
  border: none;
  border-radius: unset;
  font-weight: 500;
  color: inherit;
}
a.content-link i,
a.inline-roll i {
  color: #2e2c20;
  font-weight: bold;
}
a.content-link.unstyled,
a.inline-roll.unstyled {
  font-weight: inherit;
  white-space: unset;
  word-break: unset;
}
a.content-link.unstyled i,
a.inline-roll.unstyled i {
  color: inherit;
  margin-right: 0.25rem;
}
.window-app .window-content {
  background: #f9f9f9;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}
.window-app .window-header {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}
#logo {
  content: url(../assets/logo.webp);
}
#pause img {
  content: url(../assets/spinner.webp);
  opacity: 0.25;
}
#pause figcaption {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 0 1px 6px #2e2c20;
}
#tooltip {
  font-family: 'Merriweather', serif;
  font-size: 0.9rem;
  color: #f9f9f9;
}
.flexrow.spaced {
  column-gap: 0.25rem;
}
.flexrow.spaced.wide {
  column-gap: 1rem;
}
.flexcol.spaced {
  row-gap: 0.25rem;
}
.flexcol.spaced.wide {
  row-gap: 1rem;
}
.flex0 {
  flex: 0 !important;
}
.flex4 {
  flex: 4;
}
.flex {
  display: flex !important;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
button:focus,
input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='time']:focus,
input[type='search']:focus,
button:hover,
input[type='text']:hover,
input[type='number']:hover,
input[type='password']:hover,
input[type='date']:hover,
input[type='time']:hover,
input[type='search']:hover {
  box-shadow: 0 0 5px #626256;
}
button,
form button,
.dialog .dialog-buttons button {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  border: none;
  border-radius: 0;
  background: #e2e2df;
}
button.default,
form button.default,
.dialog .dialog-buttons button.default {
  background: #858778;
  color: #f9f9f9;
  border: none;
}
.prosemirror menu button {
  clip-path: none;
  color: #2d2a2b;
}
.tox button {
  clip-path: none;
}
form button {
  background: #858778;
  color: #f9f9f9;
}
form input[type='text'],
form input[type='number'],
form input[type='password'],
form input[type='date'],
form input[type='time'],
form input[type='search'],
form select {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  background: #e2e2df;
  border: none;
  padding: 0 0.5rem;
}
form label {
  font-variant: small-caps;
}
.directory .directory-header .header-search input {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
  background: #e2e2df;
  border: none;
  padding: 0 0.5rem;
}
#chat-controls .roll-type-select {
  font-family: 'Merriweather', serif;
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  font-size: 0.8rem;
  background: #e2e2df;
  padding: 0 0.5rem;
}
#chat-form textarea {
  font-family: 'Merriweather', serif;
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  font-size: 0.8rem;
  background: #f9f9f9;
  padding: 0.5rem;
  border: none;
  border-radius: 0;
}
.dialog-content {
  font-family: 'Merriweather', serif;
}
.dialog-content form.wildsea {
  margin-bottom: 0.5rem;
}
.dialog-content label {
  font-variant: small-caps;
}
.dialog-content h4 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}
.dialog-content p {
  font-size: 0.8rem;
}
.dialog-content input[type='text'],
.dialog-content input[type='number'],
.dialog-content input[type='password'],
.dialog-content input[type='date'],
.dialog-content input[type='time'],
.dialog-content input[type='search'] {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  border: none;
  background: #e2e2df;
  padding: 0 0.5rem;
}
.dialog-content input[type='text']:focus,
.dialog-content input[type='number']:focus,
.dialog-content input[type='password']:focus,
.dialog-content input[type='date']:focus,
.dialog-content input[type='time']:focus,
.dialog-content input[type='search']:focus {
  box-shadow: none;
}
.wildsea {
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
  background: #f9f9f9;
  color: #2d2a2b;
  --blockquote-border: #858778;
}
.wildsea ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  font-size: 0.8rem;
}
.wildsea ul li {
  padding: 0 0 0.25rem 1.5rem;
  position: relative;
}
.wildsea ul li p {
  margin: 0 !important;
}
.wildsea ul li::before {
  content: '';
  background: url(../assets/leaf-bullet.webp) center center no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 0.25rem;
}
.wildsea #context-menu {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-transform: initial;
  font-weight: 500;
}
.wildsea .damaged-true {
  background: #bb434e;
  display: inline-block;
  padding-left: 0.45rem;
  padding-right: 1.3rem;
  padding-top: 0.15rem;
  position: relative;
  color: #f9f9f9;
}
.wildsea .damaged-false {
  display: none;
}
.wildsea .block {
  display: block;
}
.wildsea .hidden {
  display: none;
}
.wildsea .wildsea-item {
  margin: 0 0 1rem;
}
.wildsea .rating {
  padding: 0.25rem 0 0 0.5rem;
  height: 2rem;
}
.wildsea h1,
.wildsea h2,
.wildsea h3,
.wildsea h4,
.wildsea h5 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  border-bottom: none;
  margin: 0 0 0.25rem;
  padding: 0;
  font-weight: 600;
  position: relative;
}
.wildsea h1 a.addItem,
.wildsea h2 a.addItem,
.wildsea h3 a.addItem,
.wildsea h4 a.addItem,
.wildsea h5 a.addItem {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
}
.wildsea h1.corners,
.wildsea h2.corners,
.wildsea h3.corners,
.wildsea h4.corners,
.wildsea h5.corners {
  padding: 0.5rem 0.5rem 0;
}
.wildsea h1 small,
.wildsea h2 small,
.wildsea h3 small,
.wildsea h4 small,
.wildsea h5 small {
  font-size: 0.8em;
  text-transform: initial;
}
.wildsea h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.wildsea h3 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-transform: initial;
}
.wildsea h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-transform: initial;
}
.wildsea blockquote {
  background: none;
  border: 3px solid var(--blockquote-border);
  border-radius: 0.8rem;
  padding: 0.8rem;
  margin: 1rem;
  font-style: normal;
}
.wildsea blockquote h2,
.wildsea blockquote h3 {
  color: var(--blockquote-border);
}
.wildsea blockquote.red {
  --blockquote-border: #bb434e;
}
.wildsea blockquote.yellow {
  --blockquote-border: #f8a923;
}
.wildsea blockquote.green {
  --blockquote-border: #84966c;
}
.wildsea blockquote.sky {
  --blockquote-border: #5c9abc;
}
.wildsea blockquote.blue {
  --blockquote-border: #175d7e;
}
.wildsea blockquote.purple {
  --blockquote-border: #a95c8d;
}
.wildsea blockquote.fiction,
.wildsea blockquote.black {
  border: none;
  margin: 0.8rem 0;
  padding: 0.8rem 0.8rem 0;
}
.wildsea blockquote.fiction p {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: initial;
}
.wildsea blockquote.black {
  border: 1px solid #2d2a2b;
  background: #2d2a2b;
}
.wildsea blockquote.black p,
.wildsea blockquote.black h1,
.wildsea blockquote.black h2,
.wildsea blockquote.black h3 {
  color: #f9f9f9;
}
.wildsea table {
  border: none;
  background: none;
}
.wildsea table thead {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  background: #626256;
  color: #f9f9f9;
  text-shadow: none;
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
  border-bottom: 0.5rem solid #f9f9f9;
}
.wildsea table thead th {
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-transform: initial;
  padding: 0.5rem 0.5rem 0;
  font-weight: 600;
}
.wildsea table tbody tr:nth-child(odd) {
  background: #e2e2df;
}
.wildsea table tbody tr td {
  padding: 0.5rem;
}
.wildsea .black {
  color: #2d2a2b;
}
.wildsea .title {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}
.wildsea .uppercase {
  text-transform: uppercase;
}
.wildsea .text-lg {
  font-size: 1.1rem;
}
.wildsea .text-dark {
  color: #2e2c20;
}
.wildsea .text-mid {
  color: #626256;
}
.wildsea .text-light {
  color: #858778;
}
.wildsea .text-light-transparent {
  color: #e2e2df;
}
.wildsea .img {
  text-align: center;
  min-width: 60px;
}
.wildsea .img img {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background: #858778;
}
.wildsea label {
  font-weight: bold;
  font-variant: small-caps;
}
.wildsea input,
.wildsea select {
  border: none;
  background: #e2e2df;
  text-transform: initial;
  padding: 0 0.5rem;
  border-radius: 0;
}
.wildsea select {
  padding: 0 0.25rem;
}
.wildsea #name {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0.4rem 0.5rem 0;
  height: 64px;
  font-size: 48px;
  text-transform: initial;
}
.wildsea .navigation nav.sheet-tabs {
  border-top: none;
  border-bottom: none;
}
.wildsea .navigation nav.sheet-tabs a {
  display: block;
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  background: #e2e2df;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-transform: initial;
  padding: 0.5rem 0.5rem 0;
  font-weight: 600;
}
.wildsea .navigation nav.sheet-tabs a.active {
  background: #626256;
  color: #f9f9f9;
  text-shadow: none;
}
.wildsea .description {
  --editor-height: 8rem;
  flex: 1;
  display: flex;
  min-height: var(--editor-height);
  border: 1px solid #858778;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.wildsea .description .editor {
  min-height: var(--editor-height);
  width: 100%;
}
.wildsea .description .editor .editor-content {
  min-height: var(--editor-height);
}
.wildsea .description .editor .tox.tox-tinymce {
  min-height: var(--editor-height);
}
.wildsea .description.short {
  --editor-height: calc(8rem / 2);
}
.wildsea .center {
  text-align: center;
}
.wildsea .handle {
  cursor: grab;
}
.wildsea .corners {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
}
.wildsea .rounded {
  border-radius: 0.5rem;
}
.wildsea .border-slim {
  border: 1px solid #858778;
}
.wildsea .border-slim.padded {
  padding: calc(0.5rem - 0.5px);
}
.wildsea .dark {
  background: #2e2c20;
  color: #f9f9f9;
}
.wildsea .mid {
  background: #626256;
  color: #f9f9f9;
}
.wildsea .light {
  background: #858778;
  color: #f9f9f9;
}
.wildsea .light-transparent {
  background: #e2e2df;
}
.wildsea .padded {
  padding: 0.5rem !important;
}
.wildsea .padded-x {
  padding: 0 0.5rem !important;
}
.wildsea .no-margin {
  margin: 0 !important;
}
.wildsea .list-track {
  margin-bottom: 0.25rem;
}
.wildsea .prosemirror menu .pm-dropdown > ul li::before {
  background: none !important;
}
.wildsea .slim-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.wildsea .slim-list .slim-item {
  background: #f9f9f9;
}
.wildsea .drag-preview {
  outline: 1px solid white;
}
.wildsea .drag-gap {
  visibility: hidden;
}
.wildsea ul.track {
  display: flex;
  flex-direction: row;
  flex: 0;
  column-gap: 0.1rem;
  position: relative;
  margin: 0;
  padding: 0;
}
.wildsea ul.track.padded {
  padding: 0.25rem 0 0;
}
.wildsea ul.track li {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #626256;
  position: relative;
}
.wildsea ul.track li::before {
  display: none;
}
.wildsea ul.track li.checked {
  background: linear-gradient(to top left, transparent 0%, transparent calc(50% - 2px), #2d2a2b 50%, transparent calc(50% + 2px), transparent 100%);
}
.wildsea ul.track li.burned {
  background: linear-gradient(to top left, transparent 0%, transparent calc(50% - 2px), #2d2a2b 50%, transparent calc(50% + 2px), transparent 100%), linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), #2d2a2b 50%, transparent calc(50% + 2px), transparent 100%);
}
.wildsea .mire {
  border-radius: 0 2rem 2rem 0;
  border: 2px solid #858778;
  padding: 0.25rem 0.5rem;
  position: relative;
}
.wildsea .mire .track {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.wildsea .bordered {
  border: 2px solid #626256;
  border-radius: 1rem;
  padding: 0.75rem 0.5rem 0.5rem;
  margin: -0.75rem 0 0;
  min-height: 3rem;
}
.wildsea h3 + .bordered {
  border-color: #858778;
}
.wildsea .aspect {
  border: 2px solid #858778;
  border-radius: 0 1rem 1rem 0;
}
.wildsea .aspect h3 {
  padding: 0.5rem 0.5rem 0;
  border-radius: 0 calc(1rem - 2px) 0 0;
}
.wildsea .aspect .track {
  margin: 0.5rem;
}
.wildsea .aspect p {
  margin: 0.5rem;
}
.wildsea .drawer {
  margin: 0;
}
.wildsea .drawer p {
  margin-top: 0;
}
.wildsea #resources .item h3 {
  margin-bottom: 0;
}
.chat-message {
  background: #f9f9f9;
}
.chat-message .message-header {
  column-gap: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.chat-message .message-header .message-sender {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  background: #858778;
  color: #f9f9f9;
  padding: 0.5rem 0.5rem 0;
  text-transform: uppercase;
}
.chat-message .message-header .message-metadata {
  padding: 0.5rem 0 0;
}
.chat-message .message-content {
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}
.chat-message.ic .message-header .message-sender {
  background: #626256;
}
.chat-message.whisper {
  background: #e2e2df;
}
.chat-message.whisper .message-header .message-sender {
  background: #2e2c20;
}
.dice-roll .dice-formula,
.dice-roll .dice-total {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  background: #e2e2df;
  border: none;
  box-shadow: none;
  margin-bottom: 0.25rem;
}
.dice-tooltip .dice-rolls .roll.cut {
  opacity: 0.7;
  color: #bb434e;
  filter: sepia(0.5) hue-rotate(-60deg);
}
.sheet.journal-entry .journal-entry-content {
  background: #f9f9f9;
  font-family: 'Merriweather', serif;
  color: #2d2a2b;
}
.sheet.journal-entry .journal-entry-content .journal-page-header h1,
.sheet.journal-entry .journal-entry-content .journal-page-content h1,
.sheet.journal-entry .journal-entry-content .journal-page-header h2,
.sheet.journal-entry .journal-entry-content .journal-page-content h2,
.sheet.journal-entry .journal-entry-content .journal-page-header h3,
.sheet.journal-entry .journal-entry-content .journal-page-content h3,
.sheet.journal-entry .journal-entry-content .journal-page-header h4,
.sheet.journal-entry .journal-entry-content .journal-page-content h4 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  color: #2d2a2b;
  margin: 0 0 0;
  text-transform: initial;
}
.sheet.journal-entry .journal-entry-content .journal-page-header h1,
.sheet.journal-entry .journal-entry-content .journal-page-content h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-header h2,
.sheet.journal-entry .journal-entry-content .journal-page-content h2 {
  font-size: 2rem;
  line-height: 2rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-header h3,
.sheet.journal-entry .journal-entry-content .journal-page-content h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-header h4,
.sheet.journal-entry .journal-entry-content .journal-page-content h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content {
  --blockquote-border: #858778;
}
.sheet.journal-entry .journal-entry-content .journal-page-content p {
  margin: 0 0 0.5rem;
  font-size: 0.8rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content p:empty {
  display: none;
}
.sheet.journal-entry .journal-entry-content .journal-page-content ul {
  margin: 0 0 0.5rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .wildsea-item {
  margin: 0 0 1rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .flexrow {
  column-gap: 1rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  font-size: 0.8rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content ul li {
  padding: 0 0 0.25rem 1.5rem;
  position: relative;
}
.sheet.journal-entry .journal-entry-content .journal-page-content ul li p {
  margin: 0 !important;
}
.sheet.journal-entry .journal-entry-content .journal-page-content ul li::before {
  content: '';
  background: url(../assets/leaf-bullet.webp) center center no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 0.25rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content small,
.sheet.journal-entry .journal-entry-content .journal-page-content .small {
  font-size: 0.7em;
  text-transform: none;
  color: #858778;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-red,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-red .small,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-red small {
  color: #bb434e;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-yellow,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-yellow .small,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-yellow small {
  color: #f8a923;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-green,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-green .small,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-green small {
  color: #84966c;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-blue,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-blue .small,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-blue small {
  color: #175d7e;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-sky,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-sky .small,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-sky small {
  color: #5c9abc;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-purple,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-purple .small,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-purple small {
  color: #a95c8d;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-mid,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-mid .small,
.sheet.journal-entry .journal-entry-content .journal-page-content .highlight-mid small {
  color: #626256;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-white {
  color: #f9f9f9;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .upcase {
  text-transform: uppercase;
}
.sheet.journal-entry .journal-entry-content .journal-page-content .text-light {
  color: #858778;
}
.sheet.journal-entry .journal-entry-content .journal-page-content img {
  border: 0;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote {
  background: none;
  border: 3px solid var(--blockquote-border);
  border-radius: 0.8rem;
  padding: 0.8rem;
  margin: 1rem;
  font-style: normal;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote h2,
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote h3 {
  color: var(--blockquote-border);
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.red {
  --blockquote-border: #bb434e;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.yellow {
  --blockquote-border: #f8a923;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.green {
  --blockquote-border: #84966c;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.sky {
  --blockquote-border: #5c9abc;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.blue {
  --blockquote-border: #175d7e;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.purple {
  --blockquote-border: #a95c8d;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.fiction,
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.black {
  border: none;
  margin: 0.8rem 0;
  padding: 0.8rem 0.8rem 0;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.fiction p {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: initial;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.black {
  border: 1px solid #2d2a2b;
  background: #2d2a2b;
}
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.black p,
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.black h1,
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.black h2,
.sheet.journal-entry .journal-entry-content .journal-page-content blockquote.black h3 {
  color: #f9f9f9;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table {
  border-bottom: none;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table tr {
  vertical-align: top;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table.middle tr {
  vertical-align: middle;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table thead {
  background: #84966c;
  text-shadow: none;
  border-bottom: none;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table thead h2 {
  color: #f9f9f9;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table thead h3 {
  color: #f6faeb;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table thead p {
  margin: 0;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table thead tr {
  vertical-align: middle;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table thead th {
  padding: 0.5rem;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table tbody tr {
  background-color: #f9f9f9;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table tbody tr:nth-child(even) {
  background-color: #f6faeb;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table tbody tr:nth-child(even) td:nth-child(even) {
  background-color: #e9f2d9;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table tbody tr:nth-child(even) td:first-child {
  background-color: #f9f9f9;
}
.sheet.journal-entry .journal-entry-content .journal-page-content table tbody tr td {
  padding: 0.5rem 0.5rem 0;
}
.sheet.journal-entry .journal-entry-content .journal-header {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  background: #626256;
  color: #f9f9f9;
  margin: 0 0 1rem;
  padding: 0.5rem;
}
.sheet.journal-entry .journal-entry-content .journal-header input {
  color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 2rem;
}
.track-panel {
  position: absolute;
  bottom: 2.5rem;
  right: 0.5rem;
  pointer-events: initial;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-family: 'Merriweather', serif;
  font-size: 0.9rem;
}
.track-panel.top {
  bottom: initial;
  top: 12px;
  flex-direction: column-reverse;
}
.track-panel .options {
  display: flex;
  flex-direction: row-reverse;
  height: 2rem;
}
.track-panel .options .addTrack {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #f9f9f9;
  color: #2d2a2b;
  max-width: 200px;
  opacity: 0.8;
}
.track-panel .options .addTrack:hover {
  opacity: 1;
}
.track-panel .track-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 800px;
}
.track-panel .track-list .drag-preview {
  outline: 1px solid white;
}
.track-panel .track-list .drag-gap {
  visibility: hidden;
}
.track-panel .track-list .track {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.track-panel .track-list .track .label,
.track-panel .track-list .track .delete {
  color: #2d2a2b;
  line-height: 1rem;
  cursor: pointer;
}
.track-panel .track-list .track .label {
  flex: 1;
}
.track-panel .track-list .track.hidden,
.track-panel .track-list .track.secret {
  background: #e2e2df;
}
.track-panel .track-list .track.secret .label {
  position: relative;
  padding-left: 1.3rem;
}
.track-panel .track-list .track.secret .label::before {
  content: '';
  background: url('../assets/firefly.webp') center center no-repeat;
  background-size: contain;
  width: 1.3rem;
  height: 1rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.track-panel .track-list .track .slots {
  cursor: pointer;
  display: flex;
  flex: 0;
  column-gap: 0.25rem;
  flex-direction: row;
  height: 1rem;
  background: linear-gradient(to top, transparent 0%, transparent calc(50% - 1px), #2d2a2b calc(50% - 1px), #2d2a2b calc(50% + 1px), transparent calc(50% + 1px), transparent 100%);
}
.track-panel .track-list .track .slots .slot {
  border: 2px solid #2d2a2b;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background: #f9f9f9;
}
.track-panel .track-list .track .slots .slot.marked {
  background: linear-gradient(to top left, #f9f9f9 0%, #f9f9f9 calc(50% - 1px), #2d2a2b calc(50% - 1px), #2d2a2b calc(50% + 1px), #f9f9f9 calc(50% + 1px), #f9f9f9 100%);
}
.track-panel .track-list .track .slots .slot.burned {
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 1px), #2d2a2b calc(50% - 1px), #2d2a2b calc(50% + 1px), transparent calc(50% + 1px), transparent 100%), linear-gradient(to top left, #f9f9f9 0%, #f9f9f9 calc(50% - 1px), #2d2a2b calc(50% - 1px), #2d2a2b calc(50% + 1px), #f9f9f9 calc(50% + 1px), #f9f9f9 100%);
}
.track-panel .track-list .track .slots .break {
  height: 1rem;
  width: 2px;
  background: #2d2a2b;
}
.track-panel .track-list .track .slots .break:last-child {
  display: none;
}
